//FOOTER SCSS

footer {
  margin-top: 20px;
  @media (max-width: 768px) {
    text-align: center;
  }
  img {
    margin-top: 20px;
    @media (max-width: 990px) and (min-width: 768px) {
      margin-left: -10px;
    }
  }
  h3 {
    color: $colorBlue;
    font-size: 16px;
    font-weight: 600;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        color: $colorGreyDark;
        font-weight: 500;
        &:hover {
          color: $colorBlue;
          text-decoration: none;
        }
      }
    }
  }
  a {
    color: $colorBlue;
    &:hover {
      text-decoration: none;
    }
  };
}

.social-media {
  margin-top: 20px;
  li {
    display: inline-block;
    a {
      background: grey;
      height: 30px;
      width: 30px;
      border-radius: 30px;
      display: block;
      position: relative;
      &.facebook {
        background: $colorFacebook;
      }
      &.google-plus {
        background: $colorGooglePlus;
      }
      &.linkedin {
        background: $colorLinkedin;
      }
      &.twitter {
        background: $colorTweeter;
      }
    }
    i {
      color: rgb(255, 255, 255);
      font-size: 16px;
      position: absolute;
      top: 7px;
      left: 7px;
    }
  }
}

.final-footer {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center;
  a {
    padding: 0 5px;
    color: $colorGreyDark;
  };
}
