// JUMBOTRON SCSS

.jumbotron {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 110%), url("../images/jumbotron.jpg") center/cover;
  font-family: $fontMain;
  min-height: 920px;
  padding-top: 128px;
  .well {
    min-height: 296px;
    margin-top: 200px;
    max-width: 382px;
    h2 {
      font-size: 48px;
      line-height: .7;
      margin: 0;
    }
    p {
      font-size: 18px;
    }
    small {
      color: rgb(0, 0, 0);
      font-size: 24px;
      line-height: 2;
    }
  }
  .links {
    background: rgb(255, 255, 255);
    margin-left: 0;
    margin-right: 0;
    margin-top: 150px;
    .link {
      border-right: 1px solid $colorGreyLines;
      border-top: 1px solid $colorGreyLines;
      color: rgb(0, 0, 0);
      padding: 20px 25px;
      p {
        font-size: 16px;
      }
    }
    .active {
      background: $colorBlue;
      color: rgb(255, 255, 255);
    }
  }
}
