@import "typography";
@import "navbar";
@import "variables";
@import "jumbotron";
@import "search_flat";
@import "promo";
@import "realization";
@import "contact";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  //background: grey;
}

.btn {
  background: $colorBlue;
  border-radius: 0;
  border: none;
  font-size: 15px;
}

.contactUsRibbon {
  position: fixed;
  right: 0;
  top: 30vh;
  z-index: 10;
}

hr {
  border: none;
  height: 1px;
  background: $colorGreyLines;
}

.well {
  border-radius: 0;
  padding: 40px 30px;
  h2 {
    margin: 0;
  }
  p {
    color: $colorGrey;
  }
}
