@import "typography";
@import "navbar";
@import "variables";
@import "jumbotron";
@import "search_flat";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  //background: grey;
}

.btn {
  background: $colorBlue;
  border-radius: 0;
  border: none;
}

.contactUsRibbon {
  position: fixed;
  right: 0;
  top: 30vh;
}
