@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$fontMain: "Source Sans Pro", sans-serif;
$fontSecondary: "Open Sans", sans-serif;

header {
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-size: 14px;
}
