$colorBlue: rgba(0, 170, 242, 1);
$colorGrey: #999999;
$colorGreyDark: #333333;
$colorGreyLines: rgba(0, 0, 0, .1);
$colorTableHeader: #373A3C;
$colorTableStripe: #F5F5F5;


.colorTextBlue {
  color: $colorBlue;
}

.textBold {
  font-weight: 600;
}
