$colorBlue: rgba(0, 170, 242, 1);
$colorGrey: #999999;
$colorGreyDark: #333333;
$colorGreyLines: rgba(0, 0, 0, .1);
$colorTableHeader: #373A3C;
$colorTableStripe: #F5F5F5;

$colorFacebook: rgb(72,103,170);
$colorGooglePlus: rgb(222,82,70);
$colorLinkedin: rgb(0,119,181);
$colorTweeter: rgb(29,161,242);

.colorTextBlue {
  color: $colorBlue;
}

.textBold {
  font-weight: 600;
}
